.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  max-width: 800px;
  margin: 32px auto;
  border: 8px;
  background: #f9f9f9;
  padding: 16px;
}

input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn {
  text-align: center;
  padding: 8px 16px;
  background: #459ab2;
  border: #61dafb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.btn:active {
  scale: 1.05;
}

.text-center {
  text-align: center;
}

.items-center {
  align-items: center;
}

.text-success {
  color: darkgreen;
}

.text-error {
  color: darkred;
}

h2, h3, h4 {
  line-height: 1.2;
  /* margin:; */
}
